:root {
  --color-neutral-0: #FFFFFF;
  --color-neutral-50: #F5F7FA;
  --color-neutral-100: #F2F5F8;
  --color-neutral-200: #E1E4EA;
  --color-neutral-300: #CACFD8;
  --color-neutral-400: #99A0AE;
  --color-neutral-500: #717784;
  --color-neutral-600: #525866;
  --color-neutral-700: #2B303B;
  --color-neutral-800: #222530;
  --color-neutral-900: #181B25;
  --color-neutral-950: #0E121B;
  --color-blue-50: #EBF1FF;
  --color-blue-100: #D5E2FF;
  --color-blue-200: #C0D5FF;
  --color-blue-300: #97BAFF;
  --color-blue-400: #6895FF;
  --color-blue-500: #335CFF;
  --color-blue-600: #3559E9;
  --color-blue-700: #2547D0;
  --color-blue-800: #1F3BAD;
  --color-blue-900: #182F8B;
  --color-blue-950: #122368;
  --color-orange-50: #FFF3EB;
  --color-orange-100: #FFE6D5;
  --color-orange-200: #FFD9C0;
  --color-orange-300: #FFC197;
  --color-orange-400: #FFA468;
  --color-orange-500: #FF9147;
  --color-orange-600: #E97D35;
  --color-orange-700: #D06925;
  --color-orange-800: #AD581F;
  --color-orange-900: #8B4618;
  --color-orange-950: #683412;
  --color-red-50: #FFEBEC;
  --color-red-100: #FFD5D8;
  --color-red-200: #FFC0C5;
  --color-red-300: #FF97A0;
  --color-red-400: #FF6875;
  --color-red-500: #FB3748;
  --color-red-600: #E93544;
  --color-red-700: #D02533;
  --color-red-800: #AD1F2B;
  --color-red-900: #8B1822;
  --color-red-950: #681219;
  --color-green-50: #E0FAEC;
  --color-green-100: #D0FBE9;
  --color-green-200: #C2F5DA;
  --color-green-300: #84EBB4;
  --color-green-400: #3EE089;
  --color-green-500: #1FC16B;
  --color-green-600: #1DAF61;
  --color-green-700: #178C4E;
  --color-green-800: #1A7544;
  --color-green-900: #16643B;
  --color-green-950: #0B4627;
  --color-yellow-50: #FFF4D6;
  --color-yellow-100: #FFEFCC;
  --color-yellow-200: #FFECC0;
  --color-yellow-300: #FFE097;
  --color-yellow-400: #FFD268;
  --color-yellow-500: #F6B51E;
  --color-yellow-600: #E6A819;
  --color-yellow-700: #C99A2C;
  --color-yellow-800: #A78025;
  --color-yellow-900: #86661D;
  --color-yellow-950: #624C18;
  --color-purple-50: #EFEBFF;
  --color-purple-100: #DCD5FF;
  --color-purple-200: #CAC0FF;
  --color-purple-300: #A897FF;
  --color-purple-400: #8C71F6;
  --color-purple-500: #7D52F4;
  --color-purple-600: #693EE0;
  --color-purple-700: #5B2CC9;
  --color-purple-800: #4C25A7;
  --color-purple-900: #3D1D86;
  --color-purple-950: #351A75;
  --color-sky-50: #EBF8FF;
  --color-sky-100: #D5F1FF;
  --color-sky-200: #C0EAFF;
  --color-sky-300: #97DCFF;
  --color-sky-400: #68CDFF;
  --color-sky-500: #47C2FF;
  --color-sky-600: #35ADE9;
  --color-sky-700: #2597D0;
  --color-sky-800: #1F7EAD;
  --color-sky-900: #18658B;
  --color-sky-950: #124B68;
  --color-pink-50: #FFEBF4;
  --color-pink-100: #FFD5EA;
  --color-pink-200: #FFC0DF;
  --color-pink-300: #FF97CB;
  --color-pink-400: #FF68B3;
  --color-pink-500: #FB4BA3;
  --color-pink-600: #E9358F;
  --color-pink-700: #D0257A;
  --color-pink-800: #AD1F66;
  --color-pink-900: #8B1852;
  --color-pink-950: #68123D;
  --color-teal-50: #E4FBF8;
  --color-teal-100: #D0FBF5;
  --color-teal-200: #C2F5EE;
  --color-teal-300: #84EBDD;
  --color-teal-400: #3FDEC9;
  --color-teal-500: #22D3BB;
  --color-teal-600: #1DAF9C;
  --color-teal-700: #178C7D;
  --color-teal-800: #1A7569;
  --color-teal-900: #16645A;
  --color-teal-950: #0B463E;
  --color-white-16: rgba(255, 255, 255, 0.16);
  --color-static-black: #171717;
  --color-static-white: var(--color-neutral-0);
  --color-text-strong-950: var(--color-neutral-950);
  --color-text-sub-600: var(--color-neutral-600);
  --color-text-soft-400: var(--color-neutral-400);
  --color-text-disabled-300: var(--color-neutral-300);
  --color-text-white-0: var(--color-neutral-0);
  --color-overlay: 0 0 0 / 0.75;
  --color-bg-strong-950: var(--color-neutral-950);
  --color-bg-surface-800: var(--color-neutral-800);
  --color-bg-sub-300: var(--color-neutral-300);
  --color-bg-soft-200: var(--color-neutral-200);
  --color-bg-weak-50: var(--color-neutral-50);
  --color-bg-white-0: var(--color-neutral-0);
  --color-stroke-strong-950: var(--color-neutral-950);
  --color-stroke-sub-300: var(--color-neutral-300);
  --color-stroke-soft-200: var(--color-neutral-200);
  --color-stroke-white-0: var(--color-neutral-0);
  --color-primary-darker: var(--color-blue-800);
  --color-primary-dark: var(--color-blue-700);
  --color-primary-base: var(--color-blue-500);
  --color-primary-light: var(--color-blue-200);
  --color-primary-lighter: var(--color-blue-100);
  --color-primary-alpha-24: var(--color-blue-alpha-24);
  --color-primary-alpha-20: var(--color-blue-alpha-20);
  --color-primary-alpha-16: var(--color-blue-alpha-16);
  --color-primary-alpha-10: var(--color-blue-alpha-10);
  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  --color-primary-950: var(--color-blue-950);
  --color-faded-dark: var(--color-neutral-800);
  --color-faded-base: var(--color-neutral-500);
  --color-faded-light: var(--color-neutral-200);
  --color-faded-lighter: var(--color-neutral-100);
  --color-information-dark: var(--color-blue-950);
  --color-information-base: var(--color-blue-500);
  --color-information-light: var(--color-blue-200);
  --color-information-lighter: var(--color-blue-50);
  --color-warning-dark: var(--color-yellow-950);
  --color-warning-base: var(--color-yellow-500);
  --color-warning-light: var(--color-yellow-200);
  --color-warning-lighter: var(--color-yellow-50);
  --color-error-darker: var(--color-red-950);
  --color-error-dark: var(--color-red-700);
  --color-error-base: var(--color-red-500);
  --color-error-light: var(--color-red-200);
  --color-error-lighter: var(--color-red-50);
  --color-error-alpha-10: var(--color-red-alpha-10);
  --color-success-dark: var(--color-green-950);
  --color-success-base: var(--color-green-500);
  --color-success-light: var(--color-green-200);
  --color-success-lighter: var(--color-green-50);
  --color-away-dark: var(--color-yellow-950);
  --color-away-base: var(--color-yellow-500);
  --color-away-light: var(--color-yellow-200);
  --color-away-lighter: var(--color-yellow-50);
  --color-feature-dark: var(--color-purple-950);
  --color-feature-base: var(--color-purple-500);
  --color-feature-light: var(--color-purple-200);
  --color-feature-lighter: var(--color-purple-50);
  --color-verified-dark: var(--color-sky-950);
  --color-verified-base: var(--color-sky-500);
  --color-verified-light: var(--color-sky-200);
  --color-verified-lighter: var(--color-sky-50);
  --color-highlighted-dark: var(--color-pink-950);
  --color-highlighted-base: var(--color-pink-500);
  --color-highlighted-light: var(--color-pink-200);
  --color-highlighted-lighter: var(--color-pink-50);
  --color-stable-dark: var(--color-teal-950);
  --color-stable-base: var(--color-teal-500);
  --color-stable-light: var(--color-teal-200);
  --color-stable-lighter: var(--color-teal-50);
}
